streamlit==1.24.1
torch>=1.13.0
torchvision
opencv-python
face_recognition
dlib
timm
exifread
moviepy
numpy
matplotlib
plotly
scikit-image
Pillow
ffmpeg-python
scipy
pandas
pyyaml
grad-cam
